{{#if user}}
<div id="blog-editor" ng-controller="GoalListCtrl">
  <article>
    <div>
      <h1>Create Blog Post</h1>
        <form ng-submit="createGoal(name, description)">
          <input class='form-control' type="text" ng-model="name" name="name" required/>
          <input class='form-control' type="text" ng-model="description" name="description" required/>
          <input class='' type="submit" id="submit" value="Submit" />
        </form>
    </div>
  <ul>
    <li ng-repeat="goal in goals | orderBy: 'createdAt' : reverse = true">
      <span id="//goal._id//" data-goal="//goal._id//"><span>
      <p>
        last updated: //goal.updatedAt | date: 'short'//
      </p>
      <h2> //goal.name//</h2>
      <p><strong>//goal.description//</strong></p>
      <span>
        //goal.createdAt | date:'medium'//
      </span>
      <form id="edit-form" ng-submit="updateGoal()" style="display: none;">
        <input type="text" id="name" name="name" ng-model="currentGoal.name" required>
        <input type="text" id="description" name="description" ng-model="currentGoal.description" required>
        <input type="submit" name="submit-edit" value="edit">
      </form>
      <span data-goal="//goal._id//" ng-click="completeGoal(goal)">X</span>
      <span id="//goal._id//" ng-click="edit(goal)"><i class="fa fa-plus-square"></i></a>
    </li>
  </ul>
</div>
{{else}}
<h1 id="activate-nd-list">Subject + Thought</h1>
<div id="goal-delctrl" ng-controller="GoalDeliveryCtrl">


  <ol id="goal-jump-list">
    <li ng-repeat="goal in goals | orderBy: 'createdAt' : reverse = true" class="refLi faded">
      <a href="#//goal._id//" class="quickRef">//goal.name// | //goal.createdAt | date:'dd/MM'//</a>
    </li>
  </ol>
  <ul id="goals-ul">
    <li ng-repeat="goal in goals | orderBy: 'createdAt' : reverse = true">
      <span id="//goal._id//" data-goal="//goal._id//"><span>
      <span class="updatedAt timeStamp">Appended //goal.updatedAt | date: 'short'//</span>
      <h2 class="goalName">//goal.name//</h2>
      <p class="goalDesc"><span class="highlight">//goal.description//</span></p>
      <span class="createdAt timeStamp">Published //goal.createdAt | date:'mediumDate'//</span>
    </li>
  </ul>
</div>
{{/if}}
