<nav class="navbar navbar-default">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span>Toggle navigation</span>
        <span>Home</span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section class="container">

  <article class="row">
    <div class="col-md-12">
      {{#if user}}
      <h2>{{user.username}} Goals</h2>
      {{else}}
      <h2>List o goals</h2>
      {{/if}}
    </div>
  </article>

  <!-- angular GoalListCtrl -->
  <article ng-controller="GoalListCtrl">
    <div class="col-md-4">
      <h1>Create Task</h1>
        <form ng-submit="createGoal(name, description)">
          <input class='form-control' type="text" ng-model="name" name="name" />
          <input class='form-control' type="text" ng-model="description" name="description" />
          <input class='btn btn-primary' type="submit" id="submit" value="Submit" />
        </form>
    </div>

    <div class="col-md-8">
      <ul>
        <li ng-repeat="goal in goals">
          <p>
            last updated: //updated_at | date: 'short'//
          </p>
          <h4><span> //goal.name//</span></h4>
          <p><strong>Description</strong> <em>//goal.description//</em></p>
          <p><strong>Done?</strong> <span data-goal="//goal._id//" ng-click="completeGoal(goal)">X</span></p>
          <p>
            //goal.created | date:'medium'//
          </p>
        </li>
      </ul>
    </div>
  </article>
</section>
