
<section class="">
  <article class="">
    <div class="">
      {{#if user}}
      <h2>{{user.username}} Goals</h2>
      {{else}}
      <h2>List o goals</h2>
      {{/if}}
    </div>
  </article>

  <!-- angular GoalListCtrl -->
  <article ng-controller="GoalListCtrl">
    <div class="">
      <h1>Create Blog Post</h1>
        <form ng-submit="createGoal(name, description)">
          <input class='form-control' type="text" ng-model="name" name="name" />
          <input class='form-control' type="text" ng-model="description" name="description" />
          <input class='' type="submit" id="submit" value="Submit" />
        </form>
    </div>

    <div class="" id="">
      <ul>
        <form class="edit-form" ng-submit="updateGoal()">
          <input type="text" id="name" name="name" value="//currentGoal.name//" ng-model="currentGoal.name">
          <input type="text" id="description" name="description" value="//currentGoal.description//" ng-model="currentGoal.description">
          <input type="submit" name="name" value="">
        </form>
        <li ng-repeat="goal in goals">
          <span data-goal="//goal._id//"><i class="fa fa-plus-square"></i><span>
          <p>
            last updated: //updated_at | date: 'short'//
          </p>
          <h4><span> //goal.name//</span></h4>
          <p><strong>Description</strong> <em>//goal.description//</em></p>
          <p><strong>Done?</strong> <span data-goal="//goal._id//" ng-click="completeGoal(goal)">X</span></p>
          <p>
            //goal.created | date:'medium'//
          </p>
          <a href="#//goal._id//" ng-click="edit(goal)">++</a>
          <!-- <button type="button" name="update" ng-click="updateGoal(goal)">[...]</button> -->
        </li>
      </ul>
    </div>
  </article>
</section>
