<!DOCTYPE html>
<html ng-app="iCompleted">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/vendors/angular.js"></script>
    <script type='text/javascript' src="/javascripts/angular-app.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
