@import url(https://fonts.googleapis.com/css?family=Cinzel);
body {
  background: #fcfff5;
  margin: 0;
  font-family: "Cinzel", serif; }
  body #loading-panel {
    display: none;
    position: fixed;
    top: 40%;
    bottom: 40%;
    right: 40%;
    left: 40%;
    background-color: blue;
    z-index: 999; }
  body .userLogin #login-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
    color: white;
    text-align: center; }
    body .userLogin #login-container #user-login {
      position: fixed;
      top: 30vh;
      bottom: 30vh;
      right: 40vw;
      left: 40vw;
      padding: 2%;
      background-color: rgba(255, 255, 255, 0.5);
      z-index: 999; }
      body .userLogin #login-container #user-login input {
        width: 96%;
        font-size: 3vh;
        padding: 0;
        border: none;
        background-color: rgba(255, 255, 255, 0.8);
        margin-top: 5vh;
        padding: 1% 2%;
        color: rgba(0, 0, 0, 0.8); }
      body .userLogin #login-container #user-login button {
        margin-top: 6vh;
        border: 2px solid white;
        background: none;
        padding: 2.5%;
        width: 50%;
        color: white; }
      body .userLogin #login-container #user-login #exit-login {
        border: 2px white solid;
        padding: 5% 15%;
        cursor: pointer; }
  body #info-container {
    position: fixed;
    padding: 2.5%;
    right: 5%; }
    body #info-container #sub-info-container #navigation-container {
      position: fixed;
      right: -10%;
      top: 35%;
      opacity: 0;
      width: 10%;
      z-index: 3; }
      body #info-container #sub-info-container #navigation-container #user-btn {
        text-align: right;
        float: right;
        display: block;
        width: auto;
        padding-left: 5%;
        position: absolute; }
      body #info-container #sub-info-container #navigation-container a {
        text-decoration: none;
        margin: 2vh 0;
        text-align: center;
        width: 100%;
        display: block;
        font-size: 2.5vh;
        color: black;
        padding: 10% 5%; }
    body #info-container #sub-info-container .active {
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      opacity: .7;
      font-size: 5vh; }
    body #info-container #sub-info-container .not {
      opacity: 1;
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      font-size: 10vh; }
    body #info-container #sub-info-container #nav-btn {
      margin: 0;
      text-align: center;
      display: block;
      z-index: 1;
      -webkit-transition: all 500ms linear;
      -moz-transition: all 500ms linear;
      -ms-transition: all 500ms linear;
      -o-transition: all 500ms linear;
      transition: all 500ms linear; }
      body #info-container #sub-info-container #nav-btn:hover {
        cursor: pointer; }
  body #activate-nd-list {
    width: auto;
    background: blue;
    margin: 0;
    font-size: 6vh;
    color: black;
    position: fixed;
    padding: 2.5%;
    cursor: pointer;
    content: "nothing"; }
  body #goal-delctrl {
    top: 20%;
    color: white;
    width: 75%;
    position: fixed;
    height: 80%; }
    body #goal-delctrl #goal-jump-list {
      width: 10%;
      height: 10%;
      margin: 0;
      padding: 0;
      background: #fcfff5;
      float: left; }
      body #goal-delctrl #goal-jump-list li {
        margin: 10px 0;
        padding: 0;
        font-size: .5vw;
        text-align: center;
        opacity: 0;
        display: none; }
        body #goal-delctrl #goal-jump-list li a {
          text-decoration: none;
          color: black; }
    body #goal-delctrl ul {
      width: 90%;
      height: 100%;
      padding: 0;
      margin: 0;
      overflow-y: scroll; }
      body #goal-delctrl ul li {
        list-style: none;
        width: 100%;
        min-height: 100%;
        padding: 0;
        margin: 0;
        overflow-y: auto;
        color: black; }
        body #goal-delctrl ul li .timeStamp {
          text-align: right;
          display: block;
          color: black;
          font-size: 2vh;
          padding-right: 2.5%;
          padding-top: 1.5%; }
        body #goal-delctrl ul li .goalName {
          margin-left: 5%;
          font-size: 5vh; }
        body #goal-delctrl ul li .goalDesc {
          color: white;
          font-size: 3vh;
          padding: 2.5%;
          width: 80%;
          min-height: 45vh;
          max-height: 45vh;
          overflow-y: auto;
          margin-left: 7.5%;
          line-height: 150%;
          background-color: rgba(62, 96, 111, 0.9); }

/*# sourceMappingURL=style.css.map */
