body{
  background: gray;
  margin: 0;

  #loading-panel{
    display: none;
    position: fixed;
    top: 40%;
    bottom: 40%;
    right: 40%;
    left: 40%;
    background-color: blue;
    z-index: 999;
  }
  .userLogin{
    #login-container{
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(#000, .5);
      z-index: 998;

      #user-login{
        position: fixed;
        top: 30%;
        bottom: 30%;
        right: 40%;
        left: 40%;
        padding: 2%;
        background-color: rgba(#000000, .8);
        z-index: 999;

        input{
          width: 100%;
          font-size: 3vh;
          padding: 0;
          border: none;
          margin-top: 5vh;
        }
      }
    }
  }

  #info-container{
    position: fixed;
    padding: 2.5%;
    right: 5%;

    #sub-info-container{
      #navigation-container{
        position: fixed;
        right: -40%;
        top: 35%;
        opacity: 0;
        width: 10%;
        z-index: 3;
        color: white;

        // .active{
        //   -moz-transform: rotate(90deg);
        //   -webkit-transform: rotate(90deg);
        //   -o-transform: rotate(90deg);
        //   -ms-transform: rotate(90deg);
        //   transform: rotate(90deg);
        //   -webkit-transition: all 1000ms linear;
        //   -moz-transition: all 1000ms linear;
        //   -ms-transition: all 1000ms linear;
        //   -o-transition: all 1000ms linear;
        //   transition: all 1000ms linear;
        // }
        #user-btn{
          text-align: right;
          float: right;
          display: block;
          width: auto;
          padding-left: 5%;
          position: absolute;
          background: purple;
        }
        a{
          text-decoration: none;
          margin: 2vh 0;
          text-align: center;
          width: 100%;
          display: block;
          font-size: 3vh;
          color: white;
          padding: 10% 5%;
        }
      }
      .active{
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        opacity: .7;
        font-size: 5vh;
      }
      .not{
        opacity: 1;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        font-size: 10vh;
      }
      #nav-btn{
        margin: 0;
        text-align: center;
        display: block;
        z-index: 1;
        -webkit-transition: all 500ms linear;
        -moz-transition: all 500ms linear;
        -ms-transition: all 500ms linear;
        -o-transition: all 500ms linear;
        transition: all 500ms linear;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  #goal-delctrl{
    background-color: rgba(#000, 1);
    color: white;
    width: 75%;
    position: fixed;
    height: 100%;

    h1{
      width: 95%;
      margin: 0;
      padding: 2.5%;
      z-index: 2;
      background: black;
      font-size: 8vh;
    }
    ol{
      width: 5%;
      height: 100%;
      margin: 0;
      padding: 0;
      background: blue;
      float: left;
      li{
        margin: 10px 0;
        padding: 0;
        font-size: .75vw;
        text-align: center;

        .quickRef{
          text-decoration: none;
          color: white;
        }
      }
    }
    ul{
      width: 95%;
      height: 80%;
      padding: 0;
      padding-bottom: 5%;
      margin: 0;
      background-color: red;
      overflow-y: auto;

      li{
        list-style: none;
        width: 100.05%;
        min-height: 85%;
        max-height: 100%;
        background-color: green;
        padding: 0;
        margin: 0;
        overflow-y: auto;
        margin-bottom: 10px;
        .timeStamp{
          text-align: right;
          display: block;
          color: black;
          font-size: 2vh;
          padding-right: 2.5%;
        }
        .goalName{
          margin-left: 5%;
          font-size: 5vh;
        }
        .goalDesc{
          font-size: 3vh;
          padding: 2.5%;
          width: 80%;
          min-height: 30vh;
          max-height: 35vh;
          overflow-y: auto;
          background-color: black;
          margin-left: 7.5%;
          line-height: 150%;
        }
      }
    }
  }
}
